.contentDiv .title {
  color: #0C2A85;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 3px; 
  border-bottom: 5px solid #6B92CF;
}
.contentDiv .content {
  color: #000000;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 3vmin 5vmin;
  text-align: left;
  max-height: 25vmin;
}
.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
  width: 14px !important;
  height: 14px !important;
}
legend {
  font-size: 1.1rem;
  font-weight: bold;
}
fieldset label {
  margin-right: 1vmin !important;
}