html {
  font-size: 15px;
  height: 100%;
  letter-spacing: 0.01rem;
}
html body {
  height: 100%;
  background-color: #F2F4F4;
  direction: ltr;
}
html .bg-full-screen-image {
  /*background: url(/img/登入頁面_純背景.png?539bae5…) no-repeat center center;*/

  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  background-size: cover;
}
.header-img {
  width: 200px;
}
.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}
.text-bold-600 {
  font-weight: 600;
}
.input_container {
  position: relative;
}
.input_img {
  position: absolute;
  left: 15px;
  top: 8px;
  width: 20px;
  height: 25px;
}
.inputAccount,.inputPassword,.inputCaptcha {
  margin: 0;
  padding-left: 45px;
  width: 100%;
  height: 40px;
  border-radius: 1rem;
  border: 3px #343A41 solid;
}
.loginBtn {
  margin-top: 5%;
  background: #343A41 !important;
  color:#FFF;
  height:40px;
  border-radius: 1rem;
  font-size: 20px;
  font-weight: 600;
}
.card {
  border: 0;
  border-radius: 1.5rem;
}
.card-header {
  padding: 1.4rem 1.7rem;
  /*background: rgba(0, 0, 0, 0) !important;*/
  background: #f8f9fa;
}
.card-text {
  background: #f8f9fa;
  /*background: rgba(200, 220, 204, 0.2) !important;*/
  color:#475F7B;
  font-family: Microsoft JhengHei !important;
  font-size: 24px;
}
.custom-control-inline {
  display: inline-flex;
  align-items: center;
}
.radio {
  vertical-align: middle;
  margin-right: 5px;
  zoom: 180%;
}

/*----------------------------------*/
.register{
  /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
  padding: 3%;
  max-width: 1600px;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
  height: 700px;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 20%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  height: 800px;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-size: 16px;
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 8%;
  margin-top: 10%;
}
.btnRegister{
  margin-top: 5%;
  border: none;
  border-radius: 1.5rem;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  color: #FFF;
}
.register .nav-tabs{
  margin-top: 2%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 20%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 3%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
.register-form {
  font-size: 18px;
}