body {
  font-size: 1.5rem;
  background: url('/img/bg-02.png'), -webkit-linear-gradient(left, #3931af, #00c6ff);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.content {
  font-size: 18px;
}