body {
  font-size: 1.5rem;
  background: url('/img/bg-02.png'), -webkit-linear-gradient(left, #133b5c, #ceddef);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.content {
  font-size: 18px;
}
.main {
  margin-top: 80px;
  padding: 3vmin;
}
.tableDiv {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2vmin;
  font-size: 1.1rem;
  margin: 3vmin 0;
}
.contentDiv {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2vmin;
  font-size: 1.1rem;
  margin: 3vmin 0;
  padding-top: 2vmin;
}
.custom-control-inline {
  display: inline-flex;
  align-items: center;
}
.radio {
  vertical-align: middle;
  margin-right: 5px;
  zoom: 180%;
}
label {
  margin-bottom: 0;
}
.item-row {
  display: flex;
  flex-wrap: wrap;
}
.iconImg-4 {
  width: 2rem;
}